@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphism {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.neumorphism {
  /* border-radius: 50px; */
  background: #212121;
  box-shadow: 9px 9px 17px #070614, -5px -5px 17px #212121;
}

.box {
  background: #212121;
  /* box-shadow: 0 8px 32px 0  #212121; */
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}
.btn {
  background-color: #099ffc;
  color: #100e34;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: transparent;
  color: #099ffc;
  border: 1px solid #099ffc;
  border-radius: 10px;
}


.btn-main {
  background-color: #1db954;
  color: #100e34;
  border: 1px solid #1db954;
  border-radius: 30px;
}

.btn-main:hover {
  background-color: transparent;
  color: #1db954 ;
  transition: all 0.5s ease;
}

@layer base {
  body {
    @apply font-primary text-lg leading-8 text-white glassmorphism  bg-main bg-cover bg-fixed bg-no-repeat;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-parimary font-semibold text-[20px] mb-6 leading-[46px];
  }
  .btn {
    @apply font-tertiary text-white font-medium;
  }

  .btn-link {
    @apply text-base;
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
