@tailwind base;
@tailwind components;
@tailwind utilities;

.neumorphism {
  border-radius: 50px;
  background: #0d0b28;
  box-shadow: 9px 9px 17px #070614, -5px -5px 17px #1d1a50;
}

.glassmorphism {
  background:  #100e34;
  box-shadow: 0 8px 32px 0  #100e34;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.btn {
  background-color: transparent;
  color: #099ffc;
  border: 1px solid #099ffc;
  border-radius: 10px;
}

.btn:hover {
  background-color: #099ffc;
  color: #100e34;
  transition: all 0.5s ease;
}

.btn-yellow {
  background-color: transparent;
  color: #f9d949;
  border: 1px solid #f9d949;
  border-radius: 10px;
}

.btn-yellow:hover {
  background-color: #f9d949;
  color: #100e34;
  transition: all 0.5s ease;
}

@layer base {
  body {
    @apply font-primary text-lg leading-8 text-white  bg-responsive lg:bg-main bg-no-repeat bg-cover;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-parimary font-semibold text-[20px] mb-6 leading-[46px];
  }
  .btn {
    @apply font-tertiary text-white font-medium;
  }

  .btn-link {
    @apply text-base;
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
